/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utils */

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

.wh-20{
    width: 20%;
}

.wh-30{
    width: 30%;
}

.wh-40{
    width: 40%;
}

.wh-50{
    width: 50%;
}

.wh-60{
    width: 60%;
}

.wh-70d4{
    width: calc(70% / 4);
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.btn{
    text-decoration: none;
}

.btn-white{
    color: black;
    background-color: #fff;
}

.btn-black{
    color: white;
    background-color: rgb(32, 32, 32);
}

.btn-violet{
    color: white;
    background-color: rgb(87, 112, 180);
}
.btn-small{
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
}

.btn-big{
    font-size: 20px;
    font-weight: 400;
    padding: 20px 30px;
    border-radius: 40px;
}


/* Header */

header{
    color: white;
    background-color: #255ee9;
}

header .top-header{
    height: 70px;
    line-height: 70px;
}

#logo{
    vertical-align: middle;
}

#main-nav li{
    display: inline-block;
    font-size: 14px;
    list-style-type: none;
    margin: 0 20px;
}

#main-nav li a{
    text-decoration: none;
    color: white;
}

#main-nav li a:hover{
    text-decoration: underline;
}

#spotlight{
    color: white;
    text-align: center;
    background-image: url(../img/jumbo.png);
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

#spotlight .container .jumbo-cont{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#spotlight .container .jumbo-cont h1{
    font-size: 50px;
    line-height: 100px;
}

#spotlight .container .jumbo-cont p{
    font-size: 24px;
    margin-bottom: 50px;
}

#spotlight .container .jumbo-cont a{
    margin: 0 15px;
}

main section{
    height: 700px;
}

main section:nth-child(2n){
    background-color: rgb(245, 245, 245);
}

main section img{
    width: 100%;
    text-align: center;
    padding-top: 110px;
}

main section > *{
    position: relative;
    height: 100%;
}

main section .col.wh-40{
    padding: 0 30px;
    padding-top: 155px;
}

main section h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

main section p{
    font-size: 20px;
    font-weight: 100;
}

#sezione-4{
    height: max-content;
    text-align: center;
}

#sezione-4 .container{
    padding-top: 100px;
    padding-bottom: 100px;
}

#sezione-4 h2{
    margin-bottom: 30px;
}

#sezione-4 img{
    margin-top: -100px;
}

#sezione-4 .star-bcg{
    height: 100px;
    line-height: 100px;
    background-image: url(../img/stars.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

#sezione-4 .star-bcg h3{
    font-size: 20px;
}

/* Footer */
footer{
    background-color: rgb(29, 29, 29);
    height: 1000px;
}

.footer-top{
    padding-top: 60px;
    border-bottom: 1px solid rgb(87, 112, 180);
}

.footer-top h2, .footer-top h3{
    color: rgb(87, 112, 180);
}

.footer-top h2{
    font-size: 40px;
    font-weight: bold;
}

.footer-top .language{
    color: white;
    margin: 20px auto;
    line-height: 30px;
    height: 30px;
}

.footer-top .language img{
    vertical-align: middle;
    height: 100%;
}

.footer-top .follow-us a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 15px;
}

.footer-top h3{
    font-weight: bold;
}

.footer-top .col.wh-70d4{
    line-height: 50px;
}

.footer-top ul{
    list-style-type: none;
}

.footer-top li a{
    text-decoration: none;
    color: white;
}

.footer-bottom{
    margin: 30px auto;
}

.footer-bottom .col.wh-50:last-child{
    text-align: right;
}